body{
    background-color: #ffffff;
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #cdf344;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
    
}

.contact-info h2{
    text-align: center;
    margin-bottom: 10%;
}

.contact-info h5{
    text-align: center;
    margin-bottom: 10%;
}

.col-md-9{
    background: #d8ff4d72;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #6D869B;
    color: #fff;
    font-weight: 600;
    width: 30%;
}
.contact-form button:focus{
    box-shadow:none;
}

