<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<<script src="/Instalar bp-ap/jQuery/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="/desarrollo/css/form.css">
<link rel="stylesheet" href="/Instalar bp-ap/css/bootstrap.min.css"> <!--Librería de bootstrap/css guardada en carpeta del proyecto-->
<link rel="stylesheet" href="/Instalar bp-ap/js/bootstrap.bundle.min.js"> <!--Librería de bootstrap/javaScript guardada en carpeta del proyecto-->
<link rel="stylesheet" href="/desarrollo/css/styles.css">
<title>EcoFresh</title>

</head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1>EcoFresh</h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Download</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Contact</a></li>
          
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


<!-- JS Boostrap-->

</body>
</html>